<mat-toolbar color="warn">
  <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span>
    <a routerLink="/" >Application</a>
  </span>
  <span class="spacer"></span>
  <ul>
    <li>
      <a mat-button routerLink="/create" routerLinkActive="active">New post</a>
    </li>
    <li>
      <a mat-button routerLink="/login" routerLinkActive="active">Login</a>
    </li>
    <li>
      <a mat-button routerLink="/signup" routerLinkActive="active">Signup</a>
    </li>
  </ul>
</mat-toolbar>
