<div>
  <button mat-raised-button color="primary" (click)="dec()">smaller</button>
  <button mat-raised-button color="warm" (click)="inc()">bigger</button>
  <label [style.font-size.px]="size">FontSize: {{size}}px</label>
</div>
